<h1>Sign up!</h1>

<form
	action=<%= users_url %>
	method="POST">

	<table>
		<tr>
			<td>
				<label for="user_user_name">
					User name
				</label
			</td>
			<td>
				<input name="user[user_name]" id="user_name" type="text">
			</td>
		</tr>

		<tr>
			<td>
				<label for="user_password">
					Password
				</label
			</td>
			<td>
				<input name="user[password]" id="password" type="text">
			</td>
		</tr>

	</table>

	<input type="submit" value="sign up!">
</form>